<<<<<<< HEAD
<div class="container">
  <div class="jumbotron">
	<p>
        Первый в мире удобный менеджер флеш-карточек. Именно так.
	</p>
  </div>
=======
<div class="jumbotron">
	<p>
        Первый в мире удобный менеджер флеш-карточек. Именно так.
	</p>
>>>>>>> 705797b11b1791e45a6c63c83d4c8a01318d71a4
</div>

                  