<div class="container">
  <div class="jumbotron">
	
	<% @card.each do |card| %>
	
	<ul class="list-group">
	  <li class="list-group-item"><%= card.original_text %> <%= card.translated_text %> <%= card.review_date.strftime("%d/%m/%Y") %></li>
	</ul>

	<% end %>
  </div>
</div>



