<div class="container">
  <div class="jumbotron">
	<%= simple_form_for(@deck, url: dashboard_deck_path, html: { class: '.form-inline' }) do |f| %>
	  <%= f.input :name, label: I18n.t('decks.deck_name_label') %>
	  <%= f.button :submit, I18n.t('form_submit.edit') %>
	<% end %>
  </div>
</div>